In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [5]:
df = pd.read_csv('./EDA_census.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3132 entries, 0 to 3131
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Table Name                3132 non-null   object
 1   State Code                3132 non-null   int64
 2   Distt. Code               3132 non-null   int64
 3   Area Name                 3132 non-null   object
 4   TUR                       3132 non-null   object
 5   Age Group                 3132 non-null   object
 6   Total Persons             3132 non-null   int64
 7   Total Males               3132 non-null   int64
 8   Total Females             3132 non-null   int64
 9   Total Illiterate Persons  3132 non-null   int64
 10  Illiterate Males          3132 non-null   int64
 11  Illiterate Females        3132 non-null   int64
 12  Total Literate Persons    3132 non-null   int64
 13  Literate Males            3132 non-null   int64
 14  Literate Females          3132 non-null   int64
dtypes: int64(11), object(4)
memory usage: 367.2+ KB

In [7]:
df.head()

,Table Name,State Code,Distt. Code,Area Name,TUR,Age Group,Total Persons,Total Males,Total Females,Total Illiterate Persons,Illiterate Males,Illiterate Females,Total Literate Persons,Literate Males,Literate Females
0,C2308,0,0,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,188506636,258709529,763638812,434763622,328875190
1,C2308,0,0,INDIA,Total,0-6,164515253,85752254,78762999,164515253,85752254,78762999,0,0,0
2,C2308,0,0,INDIA,Total,7,24826640,12903364,11923276,6748214,3388683,3359531,18078426,9514681,8563745
3,C2308,0,0,INDIA,Total,8,26968373,14061937,12906436,4131414,2013742,2117672,22836959,12048195,10788764
4,C2308,0,0,INDIA,Total,9,23424638,12214985,11209653,2491904,1198339,1293565,20932734,11016646,9916088

In [8]:
df['Age Group'].value_counts()

All ages          108
20-24             108
80+               108
75-79             108
70-74             108
65-69             108
60-64             108
55-59             108
50-54             108
45-49             108
40-44             108
35-39             108
30-34             108
25-29             108
19                108
0-6               108
18                108
17                108
16                108
15                108
14                108
13                108
12                108
11                108
10                108
9                 108
8                 108
7                 108
Age not stated    108
Name: Age Group, dtype: int64

In [9]:
india_illiterates_female = df[(df['Area Name'] == 'INDIA') & (df['Age Group'] == '20-24') & (df['TUR'] == 'Total') ]['Total Females']
india_illiterates_female

15    53839529
Name: Total Females, dtype: int64

In [10]:
female_20_24_illiterates = df[(df['Area Name'] == 'INDIA') & (df['Age Group'] == '20-24') & (df['TUR'] == 'Total') ]['Illiterate Females']
female_20_24_illiterates

15    12212466
Name: Illiterate Females, dtype: int64

In [11]:
percentage = female_20_24_illiterates / india_illiterates_female * 100
percentage

15    22.683085
dtype: float64

In [12]:
table = pd.pivot_table(df, values=['Total Persons','Total Literate Persons'], index=['Age Group'],  aggfunc=np.sum)
table

                Total Literate Persons  Total Persons
Age Group
0-6                                  0      658061012
10                           108390408      122208428
11                            91009892       98963784
12                           101943112      111509228
13                            89880828       97122732
14                            92629536      101032676
15                            93197988      103597816
16                            88319224       98369172
17                            76716048       84869868
18                            96920688      111832588
19                            73121656       83436352
20-24                        370978920      445696888
25-29                        315118100      405655860
30-34                        257061564      354379804
35-39                        229110228      340562736
40-44                        182524960      289752448
45-49                        148962256      249273308
50-54                        112988184      196277016
55-59                         85855896      156584220
60-64                         70697072      150654828
65-69                         46501504      105819932
7                             72313704       99306560
70-74                         30560872       76835368
75-79                         15485244       36930012
8                             91347836      107873492
80+                           17594232       45156020
9                             83730936       93698552
Age not stated                11594360       17959208
All ages                    3054555248     4843419908

In [13]:
table['percentage'] = table['Total Literate Persons']/table['Total Persons'] * 100
table.sort_values('percentage',ascending=False)

                Total Literate Persons  Total Persons  percentage
Age Group
13                            89880828       97122732   92.543554
11                            91009892       98963784   91.962826
14                            92629536      101032676   91.682750
12                           101943112      111509228   91.421234
17                            76716048       84869868   90.392562
15                            93197988      103597816   89.961344
16                            88319224       98369172   89.783437
9                             83730936       93698552   89.362038
10                           108390408      122208428   88.693071
19                            73121656       83436352   87.637647
18                            96920688      111832588   86.665872
8                             91347836      107873492   84.680522
20-24                        370978920      445696888   83.235699
25-29                        315118100      405655860   77.681141
7                             72313704       99306560   72.818658
30-34                        257061564      354379804   72.538435
35-39                        229110228      340562736   67.274016
Age not stated                11594360       17959208   64.559417
All ages                    3054555248     4843419908   63.066084
40-44                        182524960      289752448   62.993414
45-49                        148962256      249273308   59.758607
50-54                        112988184      196277016   57.565672
55-59                         85855896      156584220   54.830491
60-64                         70697072      150654828   46.926523
65-69                         46501504      105819932   43.943993
75-79                         15485244       36930012   41.931327
70-74                         30560872       76835368   39.774485
80+                           17594232       45156020   38.963204
0-6                                  0      658061012    0.000000

In [14]:
df.head()

,Table Name,State Code,Distt. Code,Area Name,TUR,Age Group,Total Persons,Total Males,Total Females,Total Illiterate Persons,Illiterate Males,Illiterate Females,Total Literate Persons,Literate Males,Literate Females
0,C2308,0,0,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,188506636,258709529,763638812,434763622,328875190
1,C2308,0,0,INDIA,Total,0-6,164515253,85752254,78762999,164515253,85752254,78762999,0,0,0
2,C2308,0,0,INDIA,Total,7,24826640,12903364,11923276,6748214,3388683,3359531,18078426,9514681,8563745
3,C2308,0,0,INDIA,Total,8,26968373,14061937,12906436,4131414,2013742,2117672,22836959,12048195,10788764
4,C2308,0,0,INDIA,Total,9,23424638,12214985,11209653,2491904,1198339,1293565,20932734,11016646,9916088

In [15]:
df['Area Name'].value_counts()

INDIA                                87
State - JAMMU & KASHMIR              87
State - JHARKHAND                    87
State - ODISHA                       87
State - CHHATTISGARH                 87
State - MADHYA PRADESH               87
State - GUJARAT                      87
State - DAMAN & DIU                  87
State - DADRA & NAGAR HAVELI         87
State - MAHARASHTRA                  87
State - ANDHRA PRADESH               87
State - KARNATAKA                    87
State - GOA                          87
State - LAKSHADWEEP                  87
State - KERALA                       87
State - TAMIL NADU                   87
State - PUDUCHERRY                   87
State - WEST BENGAL                  87
State - ASSAM                        87
State - MEGHALAYA                    87
State - RAJASTHAN                    87
State - HIMACHAL PRADESH             87
State - PUNJAB                       87
State - CHANDIGARH                   87
State - UTTARAKHAND                  87
State - HARYANA                      87
State - NCT OF DELHI                 87
State - UTTAR PRADESH                87
State - TRIPURA                      87
State - BIHAR                        87
State - SIKKIM                       87
State - ARUNACHAL PRADESH            87
State - NAGALAND                     87
State - MANIPUR                      87
State - MIZORAM                      87
State - ANDAMAN & NICOBAR ISLANDS    87
Name: Area Name, dtype: int64

In [16]:
table = pd.pivot_table(df, values=['Total Females','Literate Females'], index=['Area Name'],  aggfunc=np.sum)
table

                                   Literate Females  Total Females
Area Name
INDIA                                    1315500760     2350338876
State - ANDAMAN & NICOBAR ISLANDS            519616         710840
State - ANDHRA PRADESH                     89222068      168554524
State - ARUNACHAL PRADESH                   1304548        2679260
State - ASSAM                              34437352       61064532
State - BIHAR                              83586120      199285180
State - CHANDIGARH                          1360368        1899148
State - CHHATTISGARH                       26288116       50849212
State - DADRA & NAGAR HAVELI                 322836         599796
State - DAMAN & DIU                          255052         371784
State - GOA                                 2198656        2877620
State - GUJARAT                            70473940      115793728
State - HARYANA                            27219684       47426912
State - HIMACHAL PRADESH                    9148584       13530916
State - JAMMU & KASHMIR                    11210248       23602560
State - JHARKHAND                          29782200       64231276
State - KARNATAKA                          72555404      120514560
State - KERALA                             57723684       69514596
State - LAKSHADWEEP                           98120         125400
State - MADHYA PRADESH                     70707364      140058012
State - MAHARASHTRA                       145186824      216525108
State - MANIPUR                             3474472        5668832
State - MEGHALAYA                           3484504        5900228
State - MIZORAM                             1638584        2167468
State - NAGALAND                            2473908        3815412
State - NCT OF DELHI                       22171644       31202460
State - ODISHA                             46611656       83048328
State - PUDUCHERRY                          1839724        2541768
State - PUNJAB                             33084324       52415492
State - RAJASTHAN                          58347480      131989760
State - SIKKIM                               774732        1150028
State - TAMIL NADU                         95188064      144036220
State - TRIPURA                             5213656        7198164
State - UTTAR PRADESH                     184650364      381327324
State - UTTARAKHAND                        12068980       19794076
State - WEST BENGAL                       110877884      177868352

In [17]:
table['percentage'] = table['Literate Females']/table['Total Females'] * 100
table.sort_values('percentage',ascending=False)

                                   Literate Females  Total Females  percentage
Area Name
State - KERALA                             57723684       69514596   83.038221
State - LAKSHADWEEP                           98120         125400   78.245614
State - GOA                                 2198656        2877620   76.405363
State - MIZORAM                             1638584        2167468   75.598994
State - ANDAMAN & NICOBAR ISLANDS            519616         710840   73.098869
State - TRIPURA                             5213656        7198164   72.430359
State - PUDUCHERRY                          1839724        2541768   72.379698
State - CHANDIGARH                          1360368        1899148   71.630436
State - NCT OF DELHI                       22171644       31202460   71.057359
State - DAMAN & DIU                          255052         371784   68.602199
State - HIMACHAL PRADESH                    9148584       13530916   67.612451
State - SIKKIM                               774732        1150028   67.366360
State - MAHARASHTRA                       145186824      216525108   67.053112
State - TAMIL NADU                         95188064      144036220   66.086200
State - NAGALAND                            2473908        3815412   64.839865
State - PUNJAB                             33084324       52415492   63.119362
State - WEST BENGAL                       110877884      177868352   62.337050
State - MANIPUR                             3474472        5668832   61.290791
State - UTTARAKHAND                        12068980       19794076   60.972687
State - GUJARAT                            70473940      115793728   60.861621
State - KARNATAKA                          72555404      120514560   60.204679
State - MEGHALAYA                           3484504        5900228   59.057108
State - HARYANA                            27219684       47426912   57.392908
State - ASSAM                              34437352       61064532   56.395015
State - ODISHA                             46611656       83048328   56.125942
INDIA                                    1315500760     2350338876   55.970685
State - DADRA & NAGAR HAVELI                 322836         599796   53.824300
State - ANDHRA PRADESH                     89222068      168554524   52.933654
State - CHHATTISGARH                       26288116       50849212   51.698178
State - MADHYA PRADESH                     70707364      140058012   50.484341
State - ARUNACHAL PRADESH                   1304548        2679260   48.690609
State - UTTAR PRADESH                     184650364      381327324   48.423061
State - JAMMU & KASHMIR                    11210248       23602560   47.495899
State - JHARKHAND                          29782200       64231276   46.367131
State - RAJASTHAN                          58347480      131989760   44.206066
State - BIHAR                              83586120      199285180   41.942968

In [18]:
df.head()

,Table Name,State Code,Distt. Code,Area Name,TUR,Age Group,Total Persons,Total Males,Total Females,Total Illiterate Persons,Illiterate Males,Illiterate Females,Total Literate Persons,Literate Males,Literate Females
0,C2308,0,0,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,188506636,258709529,763638812,434763622,328875190
1,C2308,0,0,INDIA,Total,0-6,164515253,85752254,78762999,164515253,85752254,78762999,0,0,0
2,C2308,0,0,INDIA,Total,7,24826640,12903364,11923276,6748214,3388683,3359531,18078426,9514681,8563745
3,C2308,0,0,INDIA,Total,8,26968373,14061937,12906436,4131414,2013742,2117672,22836959,12048195,10788764
4,C2308,0,0,INDIA,Total,9,23424638,12214985,11209653,2491904,1198339,1293565,20932734,11016646,9916088

In [19]:
table = pd.pivot_table(df, values=['Total Persons','Total Literate Persons'], index=['Area Name'],  aggfunc=np.sum)
table

                                   Total Literate Persons  Total Persons
Area Name
INDIA                                          3054555248     4843419908
State - ANDAMAN & NICOBAR ISLANDS                 1177124        1522324
State - ANDHRA PRADESH                          202227040      338323108
State - ARUNACHAL PRADESH                         3064020        5534908
State - ASSAM                                    76711908      124822304
State - BIHAR                                   210018212      416397808
State - CHANDIGARH                                3221752        4221800
State - CHHATTISGARH                             61519688      102180792
State - DADRA & NAGAR HAVELI                       892920        1374836
State - DAMAN & DIU                                753624         972988
State - GOA                                       4661948        5834180
State - GUJARAT                                 164373432      241758768
State - HARYANA                                  66395952      101405848
State - HIMACHAL PRADESH                         20158944       27458408
State - JAMMU & KASHMIR                          28268932       50165208
State - JHARKHAND                                73312276      131952536
State - KARNATAKA                               162589288      244381188
State - KERALA                                  112543296      133624244
State - LAKSHADWEEP                                210212         257892
State - MADHYA PRADESH                          171404676      290507236
State - MAHARASHTRA                             326217160      449497332
State - MANIPUR                                   7633904       11423176
State - MEGHALAYA                                 7140020       11867556
State - MIZORAM                                   3392700        4388824
State - NAGALAND                                  5369736        7914008
State - NCT OF DELHI                             50951068       67151764
State - ODISHA                                  106970380      167896872
State - PUDUCHERRY                                3829236        4991812
State - PUNJAB                                   74828548      110973352
State - RAJASTHAN                               153101128      274193748
State - SIKKIM                                    1779808        2442308
State - TAMIL NADU                              207350028      288588120
State - TRIPURA                                  11219132       14695668
State - UTTAR PRADESH                           457590220      799249364
State - UTTARAKHAND                              27523812       40345168
State - WEST BENGAL                             246153124      365104460

In [20]:
table['percentage'] = table['Total Literate Persons']/table['Total Persons'] * 100
table.sort_values('percentage',ascending=True)

,Total Literate Persons,Total Persons,percentage
Area Name,,,
State - BIHAR,210018212,416397808,50.436916
State - ARUNACHAL PRADESH,3064020,5534908,55.358102
State - JHARKHAND,73312276,131952536,55.559581
State - RAJASTHAN,153101128,274193748,55.836841
State - JAMMU & KASHMIR,28268932,50165208,56.351669
State - UTTAR PRADESH,457590220,799249364,57.252497
State - MADHYA PRADESH,171404676,290507236,59.001861
State - ANDHRA PRADESH,202227040,338323108,59.773345
State - MEGHALAYA,7140020,11867556,60.164199
State - CHHATTISGARH,61519688,102180792,60.206705
State - ASSAM,76711908,124822304,61.456892
INDIA,3054555248,4843419908,63.066084
State - ODISHA,106970380,167896872,63.711955
State - DADRA & NAGAR HAVELI,892920,1374836,64.947383
State - HARYANA,66395952,101405848,65.475466
State - KARNATAKA,162589288,244381188,66.531016
State - MANIPUR,7633904,11423176,66.828210
State - WEST BENGAL,246153124,365104460,67.419917
State - PUNJAB,74828548,110973352,67.429294
State - NAGALAND,5369736,7914008,67.851031
State - GUJARAT,164373432,241758768,67.990681
State - UTTARAKHAND,27523812,40345168,68.220839
State - TAMIL NADU,207350028,288588120,71.849814
State - MAHARASHTRA,326217160,449497332,72.573770
State - SIKKIM,1779808,2442308,72.874019
State - HIMACHAL PRADESH,20158944,27458408,73.416288
State - NCT OF DELHI,50951068,67151764,75.874504
State - CHANDIGARH,3221752,4221800,76.312284
State - TRIPURA,11219132,14695668,76.343124
State - PUDUCHERRY,3829236,4991812,76.710341
State - MIZORAM,3392700,4388824,77.303168
State - ANDAMAN & NICOBAR ISLANDS,1177124,1522324,77.324144
State - DAMAN & DIU,753624,972988,77.454604
State - GOA,4661948,5834180,79.907511
State - LAKSHADWEEP,210212,257892,81.511641
State - KERALA,112543296,133624244,84.223710

In [21]:
table['Total Literate Persons'].plot.kde()

In [ ]:
table['Total Literate Persons'].kurtosis

<bound method NDFrame._add_numeric_operations.<locals>.kurt of Area Name
INDIA                                3054555248
State - ANDAMAN & NICOBAR ISLANDS       1177124
State - ANDHRA PRADESH                202227040
State - ARUNACHAL PRADESH               3064020
State - ASSAM                          76711908
State - BIHAR                         210018212
State - CHANDIGARH                      3221752
State - CHHATTISGARH                   61519688
State - DADRA & NAGAR HAVELI             892920
State - DAMAN & DIU                      753624
State - GOA                             4661948
State - GUJARAT                       164373432
State - HARYANA                        66395952
State - HIMACHAL PRADESH               20158944
State - JAMMU & KASHMIR                28268932
State - JHARKHAND                      73312276
State - KARNATAKA                     162589288
State - KERALA                        112543296
State - LAKSHADWEEP                      210212
State - MADHYA PRADESH                171404676
State - MAHARASHTRA                   326217160
State - MANIPUR                         7633904
State - MEGHALAYA                       7140020
State - MIZORAM                         3392700
State - NAGALAND                        5369736
State - NCT OF DELHI                   50951068
State - ODISHA                        106970380
State - PUDUCHERRY                      3829236
State - PUNJAB                         74828548
State - RAJASTHAN                     153101128
State - SIKKIM                          1779808
State - TAMIL NADU                    207350028
State - TRIPURA                        11219132
State - UTTAR PRADESH                 457590220
State - UTTARAKHAND                    27523812
State - WEST BENGAL                   246153124
Name: Total Literate Persons, dtype: int64>